*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}









.AD-bg-blue{
    background-color: #6610f2;
}

.AD-gb-Green{
    background-color: greenyellow;
}




.whyte-color{
    color: white;
}

.green-color{
    color: aquamarine;
}







.no-decoration{
    text-decoration: none;
}




.width-IMP{
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(124, 124, 124);
}






